.wrapper {
  width: 50px;
}

.iconFront {
  border: 1px solid light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-5));
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--mantine-radius-lg);
  background: light-dark(rgba(206, 206, 206, 0.35), rgba(61, 61, 61, 0.35));
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  cursor: pointer;
}

.iconBg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -5;
  left: 8;
  z-index: -1;
  border-radius: var(--mantine-radius-lg);
}

.label {
  text-align: center;
  font-size: var(--mantine-font-size-sm);
  white-space: nowrap;
  font-weight: 600;
}
