.main {
  height: 100vh;
  border: 1px solid red;
  font-size: 32px;
  width: 300px;
  position: relative;
}

.mask {
  position: absolute;
  top: 0;
}

.highlight {
  color: red;
}

.mask {
  mask-image: url("/circle.svg");
  background: red;
  mask-repeat: no-repeat;
  mask-size: 40px;
  color: black;
}
