.link {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-4));
  border-radius: var(--mantine-radius-md);
}

.activeLink {
  background-color: light-dark(var(--mantine-color-indigo-2), var(--mantine-color-indigo-2));
  color: black !important;
}

.link:hover {
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));
}
.activeLink:hover {
  background-color: light-dark(var(--mantine-color-indigo-2), var(--mantine-color-indigo-2));
  color: black !important;
}
